<div class="container mt-5 mb-5 all">
  <div class="titel-projects mt-2">
    <h1 class="fw-bold">
      <span>#</span>{{ "app.projects.projects" | translate }}
    </h1>
  </div>
  <div class="projects row mb-4">
    <div class="mb-5 d-flex justify-content-center">
      <p-button
        icon="pi pi-folder-plus"
        [label]="'app.projects.add-project-btn' | translate"

        routerLink="/projects-meManagement"
        class="add-btn"
      ></p-button>
    </div>
    <div
      class="cards col-12 col-md-6 col-lg-4 mb-4"
      *ngFor="let project of projects"
    >
      <div class="card">
        <div class="d-flex justify-content-between align-items-center">
          <p-button
            icon="pi pi-trash"
            (click)="deleteProject(project._id)"
            class="delete-btn"
            [pTooltip]="'app.projects.delete-project-btn' | translate"
            tooltipPosition="top"
          >
          </p-button>
          <p-button
            icon="pi pi-pencil"
            class="edit-btn"
            [pTooltip]="'app.projects.update-project-btn' | translate"
            tooltipPosition="top"
            (click)="getProjectById(project._id)"
            routerLink="/projects-meManagement"
            [queryParams]="{ id: project._id }"
          ></p-button>
        </div>
        <img [src]="'http://localhost:3000' + project.imgUrl" />
        <div class="text-center tec">
          <span>{{ project.tech }}</span>
        </div>
        <div class="card-body">
          <h5 class="card-title fw-bold">{{ project.title }}</h5>
          <p class="card-text">{{ project.description }}</p>
          <button class="btn btn-primary" (click)="goToLink(project.btnOneURL)">
            Live =>
          </button>
          <button
            class="btn btn-secondary m-1"
            (click)="goToLink(project.btnTwoURL)"
          >
            Github =>
          </button>
        </div>
      </div>
    </div>
    <app-loading-spinner
      *ngIf="isLoading"
      [strokeWidth]="10"
      [width]="'60px'"
      [height]="'60px'"
    ></app-loading-spinner>

    <div *ngIf="projects.length === 0 && !isLoading">
      <div class="not-found d-flex justify-content-center align-items-center">
        <h2 class="fw-bold">{{ "app.projects.projects-not-found" | translate }}</h2>
      </div>

    </div>
  </div>
</div>
