<div class="container">
  <form [formGroup]="contactForm">
    <div class="editH">
      <h1 class="text-center">
        {{ "app.contact.contact-management.edit-contact-page" | translate }}
      </h1>
    </div>
    <div class="form-group">
      <app-input
        [label]="'app.contact.contact-management.description' | translate"
        [formGroup]="contactForm"
        [controlName]="'description'"
        [type]="'text'"
        [className]="'form-control'"
      ></app-input>
    </div>
    <div class="form-group">
      <app-input
        [label]="'app.contact.contact-management.box-title' | translate"
        [formGroup]="contactForm"
        [controlName]="'boxTitle'"
        [type]="'text'"
        [className]="'form-control'"
      ></app-input>
    </div>
    <!-- <div class="form-group">
      <app-input
        [label]="'boxDescription'"
        [placeholder]="'Edit boxDescription'"
        [formGroup]="contactForm"
        [controlName]="'boxDescription'"
        [type]="'text'"
        [className]="'form-control'"
      ></app-input>
    </div> -->

    <div formArrayName="communication">
      @for(commun of communication.controls; track commun; let i = $index ){
      <div [formGroupName]="i" class="service-item">
        <div class="service-inputs mt-2">
          <div class="form-group">
            <app-input
              [label]="
                'app.contact.contact-management.link' | translate
              "
              [formGroup]="getCommunicationGroup(i)"
              [controlName]="'link'"
              [type]="'text'"
              [className]="'form-control'"
            ></app-input>
            <div class="form-group">
              <app-input
                [label]="
                  'app.contact.contact-management.name' | translate
                "
                [formGroup]="getCommunicationGroup(i)"
                [controlName]="'name'"
                [type]="'text'"
                [className]="'form-control'"
              ></app-input>
              <div class="form-group">
                <app-input
                  [label]="
                    'app.contact.contact-management.icon' | translate
                  "
                  [formGroup]="getCommunicationGroup(i)"
                  [controlName]="'icon'"
                  [type]="'text'"
                  [className]="'form-control'"
                ></app-input>
              </div>
              <button
                type="button"
                class="trash"
                (click)="removeCommunication(i)"
                [disabled]="
                  i === 0 && contactForm.value.communication.length <= 1
                "
              >remov</button>
            </div>
          </div>
        </div>
      </div>
    }
    <button type="button" (click)="addCommunication()">add</button>

    </div>

    <!-- <div class="form-group">
      <app-input
        [label]="'app.contact.contact-management.icon-one-link' | translate"
        [formGroup]="contactForm"
        [controlName]="'iconOneLink'"
        [type]="'text'"
        [className]="'form-control'"
      ></app-input>
    </div>
    <div class="form-group">
      <app-input
        [label]="'app.contact.contact-management.icon-one-name' | translate"
        [formGroup]="contactForm"
        [controlName]="'iconOneName'"
        [type]="'text'"
        [className]="'form-control'"
      ></app-input>
    </div>
    <div class="form-group">
      <app-input
        [label]="'app.contact.contact-management.icon-one' | translate"
        [formGroup]="contactForm"
        [controlName]="'iconOne'"
        [type]="'text'"
        [className]="'form-control'"
      ></app-input>
    </div>
    <div class="form-group">
      <app-input
        [label]="'app.contact.contact-management.icon-two-link' | translate"
        [formGroup]="contactForm"
        [controlName]="'IconTwoLink'"
        [type]="'text'"
        [className]="'form-control'"
      ></app-input>
    </div>
    <div class="form-group">
      <app-input
        [label]="'app.contact.contact-management.icon-two-name' | translate"
        [formGroup]="contactForm"
        [controlName]="'IconTwoName'"
        [type]="'text'"
        [className]="'form-control'"
      ></app-input>
    </div>
    <div class="form-group">
      <app-input
        [label]="'app.contact.contact-management.icon-two' | translate"
        [formGroup]="contactForm"
        [controlName]="'iconTwo'"
        [type]="'text'"
        [className]="'form-control'"
      ></app-input>
    </div> -->
    <div class="form-group">
      <app-input
        [label]="'app.contact.contact-management.phone-number' | translate"
        [formGroup]="contactForm"
        [controlName]="'phoneNumber'"
        [type]="'text'"
        [className]="'form-control'"
      >
      </app-input>
    </div>
    <button class="btn btn-primary" (click)="onSubmit()">
      {{ "app.contact.contact-management.submit" | translate }}
    </button>
  </form>
</div>
