<div *ngIf="isLoading" [class.loading-spinner]="isLoading">
  <app-loading-spinner
    *ngIf="isLoading"
    [class.loading-spinner]="isLoading"
    [strokeWidth]="10"
    [width]="'60px'"
    [height]="'60px'"
  ></app-loading-spinner>
</div>
<div class="all">
  <div class="container">
    <div class="all-home row d-flex align-items-center">
      <div class="left col-12 col-md-6 text-center text-md-start">
        <h1 class="fw-bold">
          {{ homeData.name }}

          <span class="descriptionName">{{ homeData.descriptionName }}</span>
        </h1>
        <p>{{ homeData.description }}</p>
        <button routerLink="/contact-me" type="button" class="btn btn-info">
          {{ "app.home.contact" | translate }}
        </button>
      </div>
      <div class="right col-12 col-md-6 text-center">
        <div class="dots-grid">
          <svg
            width="84"
            height="84"
            viewBox="0 0 84 84"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="2" cy="2" r="2" fill="#ABB2BF" />
            <circle cx="22" cy="2" r="2" fill="#ABB2BF" />
            <circle cx="42" cy="2" r="2" fill="#ABB2BF" />
            <circle cx="62" cy="2" r="2" fill="#ABB2BF" />
            <circle cx="82" cy="2" r="2" fill="#ABB2BF" />
            <circle cx="2" cy="22" r="2" fill="#ABB2BF" />
            <circle cx="22" cy="22" r="2" fill="#ABB2BF" />
            <circle cx="42" cy="22" r="2" fill="#ABB2BF" />
            <circle cx="62" cy="22" r="2" fill="#ABB2BF" />
            <circle cx="82" cy="22" r="2" fill="#ABB2BF" />
            <circle cx="2" cy="42" r="2" fill="#ABB2BF" />
            <circle cx="22" cy="42" r="2" fill="#ABB2BF" />
            <circle cx="42" cy="42" r="2" fill="#ABB2BF" />
            <circle cx="62" cy="42" r="2" fill="#ABB2BF" />
            <circle cx="82" cy="42" r="2" fill="#ABB2BF" />
            <circle cx="2" cy="62" r="2" fill="#ABB2BF" />
            <circle cx="22" cy="62" r="2" fill="#ABB2BF" />
            <circle cx="42" cy="62" r="2" fill="#ABB2BF" />
            <circle cx="62" cy="62" r="2" fill="#ABB2BF" />
            <circle cx="82" cy="62" r="2" fill="#ABB2BF" />
            <circle cx="2" cy="82" r="2" fill="#ABB2BF" />
            <circle cx="22" cy="82" r="2" fill="#ABB2BF" />
            <circle cx="42" cy="82" r="2" fill="#ABB2BF" />
            <circle cx="62" cy="82" r="2" fill="#ABB2BF" />
            <circle cx="82" cy="82" r="2" fill="#ABB2BF" />
          </svg>

          <!-- <img
            [src]="
              homeData.img
                ? 'http://localhost:3000/' + homeData.img
                : 'http://localhost:3000/uploads/default-image.jpg'
            "
            alt="Home Image"
            class="img-fluid"
          /> -->

          <img
            [src]="
              homeData.img.startsWith('http')
                ? homeData.img
                : imageBaseUrl + '/' + homeData.img
            "
            alt="profile image"
            class="img-fluid"
            onerror="this.src='imgs/default-avatar-icon-of-social-media-user-vector.jpg'"
          />

          <div class="squares">
            <div class="square square1"></div>
            <div class="square square2"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="funy-quote">
      <div>
        <p class="quteo-text">
          {{ "With great power comes great responsibility" }}
        </p>
      </div>
      <div>
        <p class="quteo-author">{{ "- dr who" }}</p>
      </div>
    </div>
  </div>
  <div class="mb-5 d-flex justify-content-center">
    <p-button
      icon="pi pi-pencil"
      [label]="'app.home.update-home-btn' | translate"
      routerLink="/homeManagement"
      class="home-btn"
      *ngIf="isLoggedIn()"
    ></p-button>
  </div>
</div>

<app-projects></app-projects>
<app-about></app-about>
<app-contact-me></app-contact-me>
