.all {
  height: 80vh;
  margin-bottom: 150px !important;
  margin-top: 100px;
}

.all-home {
  .left {
    color: var(--white);
    .descriptionName {
      color: var(--primary);
    }

    .btn-info {
      @media (max-width: 768px) {
        display: none !important;
      }
    }
  }

  .left span {
    color: var(--primary);
  }

  .left p {
    color: var(--gray);
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .left .btn {
    background: none;
    border: 1px solid var(--primary);
    color: var(--white);
    border-radius: 0;
  }

  .left .btn:hover {
    background-color: var(--primary-op);
  }
  .left p {
    font-size: 1.2rem;
  }

  .right {
    /* p {
      border: 1px solid var(--primary);
      color: var(--gray);
      text-align: center;
      width: 20rem;
      margin-left: 50px;
    } */
    /* .dots-grid p input {
      background: none;
    } */

    .dots-grid img {
      border-bottom: 1px solid var(--primary);
      max-width: 100%;
      height: auto;
      width: 469px;
    }
  }
}
.loading-spinner {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-btn ::ng-deep .p-button {
  max-width: 100% !important;
  margin-top: 10px !important;
  padding: 10px !important;
}
::ng-deep .home-btn .p-button-label {
  font-size: 1rem !important;
}

:host ::ng-deep .home-btn .p-button:hover {
  background-color: var(--primary-op) !important;
}
.dots-grid {
  position: relative;
}

.dots-grid svg {
  position: absolute;
  top: 60%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 84px;
  height: 84px;
}

.square {
  width: 150px;
  height: 150px;
  border: 5px solid var(--primary);
  position: absolute;
  z-index: -200;
}

.square1 {
  top: 30px;
  left: 100px;
}

.square2 {
  top: 60px;
  left: 120px;
}

.funy-quote {
  color: var(--white);
  border: 1px solid var(--gray);
  padding: 1.2rem;
  position: relative;
  max-width: 40.25rem;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 100px;

  .quteo-text {
    font-size: 1.5rem;
    color: var(--white);
  }

  .quteo-author {
    font-size: 1.2rem;
    color: var(--white);
    position: absolute;
    right: 1px;
    bottom: -65px;
    border: 1px solid var(--gray);
    padding: 10px;
  }
  @media (max-width: 768px) {
    display: none;
  }
}
