<div *ngIf="isLoading" [class.loading-spinner]="isLoading">
  <app-loading-spinner
    *ngIf="isLoading"
    [class.loading-spinner]="isLoading"
    [strokeWidth]="10"
    [width]="'60px'"
    [height]="'60px'"
  ></app-loading-spinner>
</div>
<div class="all" *ngIf="homeData">
  <div class="container">
    <div class="all-home row d-flex align-items-center">
      <div class="left col-12 col-md-6 text-center text-md-start">
        <h1 class="fw-bold">
          {{ homeData.name }}

          <span class="descriptionName">{{ homeData.descriptionName }}</span>
          <!-- <span>{{ homeData.subtitle || "" }}</span> -->
        </h1>
        <p>{{ homeData.description }}</p>
        <button routerLink="/contact-me" type="button" class="btn btn-info">
          Contact Me
        </button>
      </div>
      <div class="right col-12 col-md-6 text-center">
        <div class="dots-grid">
          <img
            [src]="
              homeData.img
                ? 'http://localhost:3000/' + homeData.img
                : 'http://localhost:3000/uploads/default-image.jpg'
            "
            alt="Home Image"
            class="img-fluid"
          />

          <div class="square square1"></div>
          <div class="square square2"></div>
        </div>
      </div>
    </div>
    <div class="funy-quote">
      <div>
        <p class="quteo-text">
          {{ "With great power comes great responsibility" }}
        </p>
      </div>
      <div>
        <p class="quteo-author">{{ "- dr who" }}</p>
      </div>
    </div>
  </div>
  <div class="mb-5">
    <p-button
      icon="pi pi-pencil"
      label="Update Home"
      routerLink="/homeManagement"
      class="btnHome d-flex justify-content-center"
    ></p-button>
  </div>
</div>

<app-projects></app-projects>
<app-about></app-about>
<app-contact-me></app-contact-me>
