<div class="projects-management-container">
 
  <div class="form-container">
    <form [formGroup]="projectsForm">
      <div class="editH">
        <h1 class="text-center">{{'app.projects.projects-management.create-project' | translate }}</h1>
      </div>
      <div class="form-group">
        <app-input
          [label]="'app.projects.projects-management.tecnologies' | translate"
          [id]="'tech'"
          [formGroup]="projectsForm"
          [controlName]="'tech'"
          [required]="true"
          [className]="'form-control'"
          type="text"
        ></app-input>
      </div>

      <div class="form-group">
        <app-input
          [label]="'app.projects.projects-management.title' | translate"
          [id]="'title'"
          [formGroup]="projectsForm"
          [controlName]="'title'"
          [required]="true"
          [className]="'form-control'"
          type="text"
        ></app-input>
      </div>

      <div class="form-group">
        <app-input
          [label]="'app.projects.projects-management.description' | translate"
          [id]="'description'"
          [formGroup]="projectsForm"
          [controlName]="'description'"
          [required]="true"
          [className]="'form-control'"
          type="text"
        ></app-input>
      </div>

      <div class="form-group">
        <app-input
          [label]="'app.projects.projects-management.url-one' | translate"
          [id]="'btnOneTitle'"
          [formGroup]="projectsForm"
          [controlName]="'btnOneTitle'"
          [required]="true"
          [className]="'form-control'"
          type="text"
        ></app-input>
      </div>

      <div class="form-group">
        <app-input
          [label]="'app.projects.projects-management.url-two' | translate"
          [id]="'btnTwoTitle'"
          [formGroup]="projectsForm"
          [controlName]="'btnTwoTitle'"
          [required]="true"
          [className]="'form-control'"
          type="text"
        ></app-input>
      </div>

      <div class="form-group text-center">
        <!-- <label for="imgUrl">Image URL</label>
        <input id="imgUrl" formControlName="imgUrl" type="file" (change)="onImageChange($event)"> -->
        <label for="imgUrl">{{'app.projects.projects-management.img' | translate}}</label>
        <app-input
          [id]="'imgUrl'"
          [formGroup]="projectsForm"
          [controlName]="'imgUrl'"
          [required]="true"
          type="file"
          (change)="onImageChange($event)"
          [className]="'form-control '"
        ></app-input>
      </div>
      <!-- <button
        type="submit"
        (click)="onSubmit()"
        [disabled]="!projectsForm.valid"
      >
        Submit
      </button> -->
      <p-button
      type="submit"
      (click)="onSubmit()"
      [disabled]="!projectsForm.valid"
      class="d-flex justify-content-center"
      >{{'app.projects.projects-management.create-btn' | translate}}</p-button>
    </form>
  </div>
</div>
