<app-navbar></app-navbar>
<div class="line">
  <svg
    width="2"
    height="191"
    viewBox="0 0 2 191"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M0.499995 191L0.500004 0L1.5 4.37114e-08L1.5 191L0.499995 191Z"
      fill="#ABB2BF"
    />
  </svg>
  <div class="social-icons">
    <span>
      <a
        href="https://www.facebook.com/profile.php?id=100010824667549"
        target="_blank"
        ><i class="pi pi-facebook"></i
      ></a>
    </span>
    <span
      ><a
        href="https://www.linkedin.com/in/ismail-ashraf-777652255?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"
        target="_blank"
        ><i class="pi pi-linkedin"></i
      ></a>
    </span>
    <span
      ><a href="https://github.com/IsmailAshraf111" target="_blank"
        ><i class="pi pi-github"></i></a
    ></span>
  </div>
</div>

<router-outlet></router-outlet>

<app-footer></app-footer>
