<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <!-- Sidebar -->
      <div class="sidebar">
        <div class="sidebar-header">
          <h2>Dashboard</h2>
        </div>
        <nav class="sidebar-nav">
          <ul>
            <li>
              <a
                routerLinkActive="active"
                routerLink="/dashboard/homeManagement"
              >
                <i class="fas fa-home"></i>
                <span>home Management</span>
              </a>
            </li>
            <li>
              <a
                routerLinkActive="active"
                routerLink="/dashboard/about-meManagement"
              >
                <i class="fas fa-info-circle"></i>
                <span>about Management</span>
              </a>
            </li>
            <li>
              <a
                routerLinkActive="active"
                routerLink="/dashboard/contact-me-management"
              >
                <i class="fas fa-phone"></i>
                <span>contact-me Management</span>
              </a>
            </li>
            <li>
              <a
                routerLinkActive="active"
                routerLink="/dashboard/projects-meManagement"
              >
                <i class="fas fa-cogs"></i>
                <span>projects Management</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </body>
</html>
