<div class="container">
  <form
    [formGroup]="formData"
    (ngSubmit)="onEdit()"
    enctype="multipart/form-data"
  >
    <div class="form-group">
      <app-input
        [name]="'name'"
        [type]="'text'"
        [formGroup]="formData"
        [controlName]="'name'"
        [className]="'form-control'"
        [label]="'name:'"
        [required]="true"
      >
      </app-input>
    </div>

    <!-- <div class="form-group">
      <label for="descriptionName">descriptionName:</label>
      <input
        type="text"
        id="descriptionName"
        name="descriptionName"
        formControlName="descriptionName"
        class="form-control"
        placeholder="Edit descriptionName"
        required
      />
    </div> -->

    <div class="form-group">
      <app-input
        [name]="'descriptionName'"
        [type]="'text'"
        [formGroup]="formData"
        [controlName]="'descriptionName'"
        [className]="'form-control'"
        [label]="'descriptionName:'"
        [required]="true"
      >
      </app-input>
    </div>

    <div class="form-group">
      <p-floatlabel variant="on">
        <textarea
          id="description"
          name="description"
          formControlName="description"
          class="form-control"
          required
        ></textarea>
        <label for="description" [class.float-label-above]="hasValue()">Description:</label>
      </p-floatlabel>
    </div>

    <div class="form-group">
      <label for="img">Image:</label>
      <input
        type="file"
        id="img"
        (change)="onFileChange($event)"
        class="form-control"
      />
      <img
        *ngIf="homeData?.imgPreview"
        [src]="homeData?.imgPreview"
        alt="Preview Image"
        class="img-thumbnail mt-3"
      />
    </div>

    <button
      type="submit"
      class="btn btn-primary mt-3"
      [disabled]="!formData.valid"
    >
      Update
    </button>
  </form>
</div>
