
<div class="container">
 
  <form
    [formGroup]="formData"
    (ngSubmit)="onEdit()"
    enctype="multipart/form-data"
  >
  <div class="editH">
    <h1 class="text-center">{{'app.home.home-management.edit-home-page' | translate}}</h1>
  </div>
    <div class="form-group">
      <app-input
        [name]="'name'"
        [type]="'text'"
        [formGroup]="formData"
        [controlName]="'name'"
        [className]="'form-control'"
        [label]="'app.home.home-management.name' | translate"
        [required]="true"
      >
      </app-input>
    </div>

    <div class="form-group">
      <app-input
        [name]="'descriptionName'"
        [type]="'text'"
        [formGroup]="formData"
        [controlName]="'descriptionName'"
        [className]="'form-control'"
        [label]="'app.home.home-management.descriptionName' | translate"
        [required]="true"
      >
      </app-input>
    </div>

    <div class="form-group">
      <p-floatlabel variant="on">
        <textarea
          id="description"
          name="description"
          formControlName="description"
          class="form-control"
          required
        ></textarea>
        <label for="description" [class.float-label-above]="hasValue()">{{'app.home.home-management.description' | translate}}</label>
      </p-floatlabel>
    </div>

    <div class="form-group">
      <label for="img">{{'app.home.home-management.img' | translate}}</label>
      <input
        type="file"
        id="img"
        (change)="onFileChange($event)"
        class="form-control"
      />
      <img
        *ngIf="homeData?.imgPreview"
        [src]="homeData?.imgPreview"
        alt="Preview Image"
        class="img-thumbnail mt-3"
      />
    </div>

    <button
      type="submit"
      class="btn btn-primary mt-3"
      [disabled]="!formData.valid"
    >
      {{ formData.value._id ? ('app.home.home-management.update-btn' | translate) : 'app.home.home-management.create-btn' | translate }}
    </button>
  </form>
</div>
