<footer class="footer text-center mt-5">
  <!-- Grid container -->
  <div class="d-flex mt-2 ">
    <div class="ismail container p-4">
      <p>ismail: <span>ismailatta11&#64;gmail.com</span></p>
      <p>web development</p>
    </div>
    <div class="container p-4 media ">
        <p>media</p>
       <a class="m-3" href="https://github.com/IsmailAshraf111/"><img src="Github.svg" alt="icon"></a> 
      <a class="m-3" href="https://discord.com/users/881980655754432513"><img src="Discord.svg" alt="icon"></a>  

    </div>
  

  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3 mb-2 copyright">
    © 2024 Copyright:
    <a
      class="text-body  fw-bold"
      href="https://www.linkedin.com/in/ismail-ashraf-777652255?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_apphttps://www.linkedin.com/in/ismail-ashraf-777652255?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"
      >Ismail</a
    >
  </div>
  <!-- Copyright -->
</footer>
