:root {
  --primary: #b152da;
  --primary-op: #b152da1a;
  --gray: #96a2b9;
  --gray-op: #96a2b91a;
  --background: #262b33;
  --white: #ffffff;
}

.all-contact {
  height: 50vh;
  display: flex;
  align-items: center;
}

.contact {
  color: var(--white);
  font-weight: bold;
  position: relative;
  display: inline-block;
  margin-top: 50px;

  h1 span {
    color: var(--primary);
  }
  ::after {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 100%;
    width: 80px;
    height: 2px;
    background-color: var(--primary);
  }
}

.contact-p {
  margin-top: 50px;

  p {
    color: var(--gray);
  }
}

.message {
  color: var(--white);
  border: 1px solid var(--gray);
  padding: 20px;
  width: 20rem;
  h4 {
    font-size: 16px;
    font-weight: bold;

  }

  a {
    color: var(--gray);
    text-decoration: none;
    margin-top: 20px;
  }

  a:hover {
    color: var(--white);
  }

a i {
  margin-top: 10px;
  font-size: 32px;
  
}
a  span {
  margin-left: 10px;
  font-size: 16px;
  
  
}
}


::ng-deep .p-button {
  background: none !important;
  border: 1px solid var(--primary) !important;
  color: var(--white) !important;
  border-radius: 0 !important;
  margin: auto !important;

  &:hover {
    background: none !important;     
    border-color: var(--primary) !important; 
    color: var(--white) !important;   
    box-shadow: none !important;     
    transform: none !important;      
  }
}