<div class="container">
  <div class="contact">
    <h1><span>#</span>{{ contact.titleBox }}</h1>
  </div>
  <div class="all-contact">
    <div class="contact-p row d-flex justify-content-between">
      <div class="col-12 col-md-6">
        <p>{{ contact.description }}</p>
      </div>
      <div class="message col-12 col-md-6">
        <h4>{{ contact.descIconOne }}</h4>
        <a class="m-3" [href]="contact.linkOne">
          <img [src]="contact.iconOne" alt="icon" /> {{ contact.descIconOne }}
        </a>
        <br />
        <a class="m-3" [href]="contact.linkTwo">
          <img [src]="contact.iconTwo" alt="icon" /> {{ contact.descIconTwo }}
        </a>
      </div>
    </div>
  </div>

  <button icone="pi pi-pencil" routerLink="/contact-me-management">Update Contact</button>

</div>








<!-- <div class="container">
  <div class="contact">
    <h1><span>#</span>{{ contact.titleBox }}</h1>
  </div>
  <div class="all-contact">
    <div class="contact-p row d-flex justify-content-between">
      <div class="col-12 col-md-6">
        <p>{{ contact.description }}</p>
      </div>
      <div class="message col-12 col-md-6">
        <h4>{{ contact.descIconOne }}</h4>
        <a class="m-3" href="#">
          <img [src]="contact.iconOne" alt="icon" /> {{ contact.descIconOne }}
        </a>
        <br />
        <a class="m-3" href="#">
          <img [src]="contact.iconTwo" alt="icon" /> {{ contact.descIconTwo }}
        </a>
      </div>
    </div>
  </div>
</div>



 -->




<!-- <div class="container">



  <div class="contact">
    <h1 class=""><span>#</span>contact-me</h1>
  </div>
  <div class="all-contact ">

  <div class="contact-p row d-flex justify-content-between">
    <div class="col-12 col-md-6">
      <p>
        I’m interested in freelance opportunities. However, if you have other
        request or question, don’t hesitate to contact me
      </p>
    </div>

    <div class="message col-12 col-md-6">
      <h4>message me here</h4>
      <a class="m-3" href="https://discord.com/users/881980655754432513"
        ><img src="Discord.svg" alt="icon" /> ismail__ashraf</a
      >
      <br />
      <a class="m-3" href="mailto:ismailatta11@gmail.com"
        ><img src="Email.svg" alt="icon" /> ismailatta11&#64;gmail.com</a
      >
    </div>
  </div>
</div>
</div> -->
