<div class="container">
  <form
    [formGroup]="aboutForm"
    (ngSubmit)="onSubmit()"
    enctype="multipart/form-data"
  >
    <div class="editH">
      <h1 class="text-center">{{ "app.about.about-management.edit-about-page" | translate }}</h1>
    </div>
    <div class="form-group">
      <textarea
        formControlName="description"
        name="description"
        [placeholder]="'app.about.about-management.description' | translate"
        rows="5"
        class="form-control"
      ></textarea>
    </div>

    <div class="form-group">
      <app-input
        [label]="'app.about.about-management.languages' | translate"
        [placeholder]="'e.g. JavaScript, TypeScript, Python'"
        [formGroup]="aboutForm"
        [controlName]="'languages'"
        [type]="'text'"
        [className]="'form-control'"
      ></app-input>
    </div>

    <div class="form-group">
      <app-input
        [label]="'app.about.about-management.databases' | translate"
        [placeholder]="'e.g. MongoDB, MySQL, PostgreSQL'"
        [formGroup]="aboutForm"
        [controlName]="'databases'"
        [type]="'text'"
        [className]="'form-control'"
      ></app-input>
    </div>

    <div class="form-group">
      <app-input
        [label]="'app.about.about-management.tools' | translate"
        [placeholder]="'e.g. Git, Docker, VS Code'"
        [formGroup]="aboutForm"
        [controlName]="'tools'"
        [type]="'text'"
        [className]="'form-control'"
      ></app-input>
    </div>

    <div class="form-group">
      <app-input
        [label]="'app.about.about-management.other-skills' | translate"
        [placeholder]="'e.g. Agile, Scrum, UX Design'"
        [formGroup]="aboutForm"
        [controlName]="'otherSkills'"
        [type]="'text'"
        [className]="'form-control'"
      ></app-input>
    </div>

    <div class="form-group">
      <app-input
        [label]="'app.about.about-management.frameworks' | translate"
        [placeholder]="'e.g. Angular, React, Express'"
        [formGroup]="aboutForm"
        [controlName]="'frameworks'"
        [type]="'text'"
        [className]="'form-control'"
      ></app-input>
    </div>

    <button type="submit" [disabled]="!aboutForm.valid">{{ "app.about.about-management.update-btn" | translate }}</button>
  </form>
</div>
