:root {
  --primary: #b152da;
  --primary-op: #b152da1a;
  --gray: #96a2b9;
  --gray-op: #96a2b91a;
  --background: #262b33;
  --white: #ffffff;
}

.path {
  color: var(--white);
  margin-top: 100px;

  span {
    color: var(--primary);
  }

  p {
    color: var(--gray);
  }
}

.svgAll {
  @media (max-width: 768px) {
    display: none;
  }
}
.about {
  margin-top: 50px;
  display: flex;
  justify-content: center;

  img {
    max-width: 60%;
    border-bottom: 1px solid var(--primary);
  }
  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: center !important;
  }
}

.content {
  color: var(--gray);
  margin-top: 100px;
}
.all-skills {
  margin-left: 50px;
}

.skil {
  color: var(--white);
  font-weight: bold;
  position: relative;
  display: inline-block;
  margin-top: 50px;
  span {
    color: var(--primary);
  }

  ::after {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 100%;
    width: 80px;
    height: 2px;
    background-color: var(--primary);
  }
}

.skills-content {
  color: var(--white);
  border: 1px solid var(--gray);
  margin-top: 20px;
  margin-left: 20px;
  overflow: hidden;

  li {
    color: var(--gray);
  }
  .name {
    border-bottom: 1px solid var(--gray);
    width: 100%;
    font-weight: bold;
    font-size: 1.2rem;
  }
  .skills-list .skils-name {
    color: var(--gray);
    font-size: 1.2rem;
  }
}

li {
  list-style: none;
}

::ng-deep .p-button {
  background: none !important;
  border: 1px solid var(--primary) !important;
  color: var(--white) !important;
  border-radius: 0 !important;
  margin: auto !important;

  &:hover {
    background: none !important;
    border-color: var(--primary-op) !important;
    color: var(--white) !important;
  }
}
::ng-deep .p-button-label {
  font-size: 1rem !important;
}
