/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
:root {
    --primary: #b152da;
    --primary-op: #b152da1a;
    --gray: #96a2b9;
    --gray-op: #96a2b91a;
    --background: #262b33;
    --white: #ffffff;
  }
  
  body {
    font-family: "Fira Code", monospace !important;
    background-color: var(--background) !important;
  }

  .container{
    width: 1000px;
  }
  .float-label-above {
    transform: translateY(-50%) scale(0.9) !important;
    top: 0 !important;
    background: white !important;
    padding: 0 0.5rem !important;
  }
  

 .form-control{
   background-color: var(--primary-op) !important;
   border: none !important;
   border: 1px solid var(--primary) !important;
   color: var(--white) !important;
   border-radius: 0 !important;
   margin: auto !important;
   margin-top: 10px !important;
   margin-bottom: 10px !important;
 }

 .error-container span{
   color: red !important;
 }