/* You can add global styles to this file, and also import other style files */
:root {
    --primary: #b152da;
    --primary-op: #b152da1a;
    --gray: #96a2b9;
    --gray-op: #96a2b91a;
    --background: #262b33;
    --white: #ffffff;
  }
  
  body {
    font-family: "Fira Code", monospace !important;
    background-color: var(--background) !important;
  }

  .container{
    width: 1000px;
  }

  